<mat-card>
<mat-toolbar color="secondary">
        <mat-toolbar-row>
          <span>powered by<h3>GarBul</h3></span>
        </mat-toolbar-row>
      
        <mat-toolbar-row>
            <a href="https://github.com/riquegarza">
            <i class="fab fa-github"></i>
            </a>
          <span>Richard</span>
          <span class="example-spacer"></span>
          <mat-icon class="example-icon"></mat-icon>

          <a href="https://github.com/jerrybullock">
          <i class="fab fa-github"></i>
        </a>
        <span>Jerry</span>
          <span class="example-spacer"></span>
          <mat-icon class="example-icon"></mat-icon>
        </mat-toolbar-row>
      </mat-toolbar>
    </mat-card>

     