
<app-nav></app-nav>
<br/>
<div class="container">
    <div class="row justify-content-md-center">
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
  <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="joan-pro"></div>
        <mat-card-title>Joan</mat-card-title>
        <mat-card-subtitle>Photographer</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/photo1.jpg" class="joan-pic" alt="Photo of Joan">
      <mat-card-content>
        <p>
        I love to take photos of everything!
        </p>
      </mat-card-content>
      <mat-card-footer>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card-footer>
    </mat-card>
    </div>
    <br/>
    
  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="leo-pro"></div>
          <mat-card-title>Leo</mat-card-title>
          <mat-card-subtitle>Photographer</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/photo2.jpg" alt="Photo of Leo">
        <mat-card-content>
          <p>
          I love to take photos of everything!
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      </div>
<br/>
      

<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
      <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="tommy-pro"></div>
            <mat-card-title>Tommy</mat-card-title>
            <mat-card-subtitle>Photographer</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="../../assets/photo3.jpg" alt="Photo of Tommy">
          <mat-card-content>
            <p>
            I love to take photos of everything!
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
  
      </div>
  </div>
</div>
