
.container {
    height: 500px;
  }
  
  .joan-pro {
    background-image: url('../../assets/photo1.jpg');
    background-size: cover;
  }
/* 
  .joan-pic {
    max-block-size: 100%;
  } */

  .leo-pro {
    background-image: url('../../assets/photo2.jpg');
    background-size: cover;
  }

  .tommy-pro {
    background-image: url('../../assets/photo3.jpg');
    background-size: cover;
  }
