
<br/>
<div class="container">
    <div class="row justify-content-md-center">
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
  <mat-card class="example-card">
      <mat-card-header>
          <a href="https://lindseyroman.com/" target="_blank">
            <div mat-card-avatar class="joan-pro">
        </div>
      </a>
        <mat-card-title>Joan</mat-card-title>
        <mat-card-subtitle>Photographer</mat-card-subtitle>
      </mat-card-header>
     <img mat-card-image src="../../assets/joan-pro.jpg" class="image" alt="Photo of Joan">
      <mat-card-content>
        <p>
        I love the outdoors!
        </p>
      </mat-card-content>
    </mat-card>
    </div>
    <br/>
  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
      <mat-card class="example-card">
        <mat-card-header>
            <a href="https://www.guyharrop.com/" target="_blank">
          <div mat-card-avatar class="leo-pro"></div> </a>
          <mat-card-title>Leo</mat-card-title>
          <mat-card-subtitle>Photographer</mat-card-subtitle>
        </mat-card-header>
      <img mat-card-image src="../../assets/photo2.jpg" class="image" alt="Photo of Leo">
        <mat-card-content>
          <p>
          Art is everywhere.
          </p>
        </mat-card-content>
      </mat-card>
      </div>
  <br/>
  <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
      <mat-card class="example-card">
          <mat-card-header>
          <a href="https://www.guywillssportsphotography.com/" target="_blank">
            <div mat-card-avatar class="tommy-pro"></div>
            </a>
            <mat-card-title>Tommy</mat-card-title>
            <mat-card-subtitle>Photographer</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="../../assets/photo3.jpg"  class="image" alt="Photo of Tommy">
          <mat-card-content>
            <p>
            Creating is living.
            </p>
          </mat-card-content>
          <!-- <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions> -->
        </mat-card>
      </div>
  </div>
</div>