
<app-nav></app-nav>
<div class="container" id="grid">
  
    <h1 class="my-4 text-center text-lg-left"> Meet Our Artists</h1>
    <div class="row text-center text-lg-left">
      <div class="col-lg-6 col-md-6 col-xs-6">
        <a href="https://www.gabrielacobar.com/#1" class="rounded mx-auto d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="../../assets/photo1.jpg" alt="">
        </a>
      </div>
       <div class="col-lg-6 col-md-6 col-xs-6">
            <a href="http://www.joshuarashaad.com/" class="rounded mx-auto d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="../../assets/photo2.jpg" alt="">
            </a>
       </div>
       <div class="col-lg-6 col-md-6 col-xs-6">
                <a href="http://bantjes.com/" class="d-block mb-4 h-100">
                 <img class="img-fluid img-thumbnail" src="../../assets/photo4.jpg" alt="">
                </a>
       </div>
       <div class="col-lg-6 col-md-6 col-xs-6">
                <a href="http://aaronshirley.weebly.com/drawings.html" class="d-block mb-4 h-100">
               <img class="img-fluid img-thumbnail" src="../../assets/photo3.jpg" alt="">
                </a>
       </div>
                <div class="col-lg-6 col-md-6 col-xs-6">
                  <a href="#" class="d-block mb-4 h-100">
                 <img class="img-fluid img-thumbnail" src="../../assets/beaniesmaller1857646.jpg" alt="">
                  </a>
         </div>
         <div class="container">
         <div class="col-lg-6 col-md-6 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
         <img class="img-fluid img-thumbnail" src="../../assets/photo1.jpg" alt="">
          </a>
        </div>
 </div>