<div class="container">
    <div class="row justify-content-md-center">
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
  <mat-card class="example-card">
      <mat-card-header>
          <a href="https://lindseyroman.com/" target="_blank">
            <div mat-card-avatar class="joan-pro">
        </div>
      </a>
        <mat-card-title>Joan</mat-card-title>
        <mat-card-subtitle>Photographer</mat-card-subtitle>
      </mat-card-header>
     <img mat-card-image src="../../assets/joan-pro.jpg" class="image" alt="Photo of Joan">
   
      <mat-card-content>
        <p>
        I love the outdoors!
        </p>
      </mat-card-content>
    </mat-card>
    </div>
    <br/>

<mat-divider></mat-divider>
    <div class="container" id="grid">
        <div class="row">
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <a href="#">
                      <mat-card>
                          <img mat-card-image src="../../assets/joan1.jpeg" alt="Photo of Sports">
                        </mat-card>
              </a>
         </div>
              
             <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <a href="#">
                    <mat-card>
                        <img mat-card-image src="../../assets/joan2.jpg" alt="Photo by Joan">
                      </mat-card>
            </a>
       </div>
            
             <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                      <a href="#"> 
                          <mat-card>
                              <img mat-card-image src="../../assets/joan3.jpeg" alt="Photo by Leo">
                            </mat-card>
                  </a>
             </div>
           
             <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <a href="#">
                    <mat-card>
                        <img mat-card-image src="../../assets/joan4.jpeg" alt="Photo by Tommy">
                      </mat-card>
            </a>
       </div>
         
      
         
             <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <a href="#">
                    <mat-card>
                        <img mat-card-image src="../../assets/joan5.jpeg" alt="Photo by Joan">
                      </mat-card>
            </a>
       </div>
          
       <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
          <a href="#">
              <mat-card>
                  <img mat-card-image src="../../assets/joan6.jpeg" alt="Photo by Joan">
                </mat-card>
      </a>
      </div>