<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand"></a><a routerLink="home">SharePix</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="home">Home</a></li>
        <li><a routerLink="photographers">Photographers</a></li>
        <li><a routerLink="gallery">Gallery</a></li>
        <li><a routerLink="contact">Contact Us</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="sign-up"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a routerLink="sign-in"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav>