
<app-nav></app-nav>
<app-post-list></app-post-list>



<div class="container-fluid" id="grid">
        <div class="row">
              <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                  <a href="#">
                      <mat-card>
                          <img mat-card-image src="../../assets/sports2.jpeg" alt="Photo of Joan">
                        </mat-card>
              </a>
         </div>
              
             <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <a href="#">
                    <mat-card>
                        <img mat-card-image src="../../assets/sports6.jpeg" alt="Photo of Joan">
                      </mat-card>
            </a>
       </div>
            
             <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                      <a href="#"> 
                          <mat-card>
                              <img mat-card-image src="../../assets/sports8.jpeg" alt="Photo of Joan">
                            </mat-card>
                  </a>
             </div>
           
             <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <a href="#">
                    <mat-card>
                        <img mat-card-image src="../../assets/sports7.jpeg" alt="Photo of Joan">
                      </mat-card>
            </a>
       </div>
         
      
         
             <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <a href="#">
                    <mat-card>
                        <img mat-card-image src="../../assets/sports5.jpeg" alt="Photo of Joan">
                      </mat-card>
            </a>
       </div>
          
       <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
          <a href="#">
              <mat-card>
                  <img mat-card-image src="../../assets/sports2.jpeg" alt="Photo of Joan">
                </mat-card>
      </a>
      </div>
              
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
          <a href="#">
              <mat-card>
                  <img mat-card-image src="../../assets/sports6.jpeg" alt="Photo of Joan">
                </mat-card>
      </a>
      </div>
             
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
          <a href="#">
              <mat-card>
                  <img mat-card-image src="../../assets/sports3.jpeg" alt="Photo of Joan">
                </mat-card>
                </a>
            </div>
          <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
              <a href="#"> <mat-card>
                      <img mat-card-image src="../../assets/sports8.jpeg" alt="Photo of Joan">
                    </mat-card>
                </a>
             </div>
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
          <a href="#"> <mat-card>
                  <img mat-card-image src="../../assets/sports5.jpeg" alt="Photo of Joan">
             </mat-card>
             </a>
         </div>
      
      
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
          <a href="#"> <mat-card>
          <img mat-card-image src="../../assets/sports3.jpeg" alt="Photo of Joan">
        </mat-card>
      </a>
      </div>
      
      
      <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
          <a href="#"> <mat-card>
              <img mat-card-image src="../../assets/sports6.jpeg" alt="Photo of Joan">
            </mat-card>
      </a>
              </div> 
</div>
</div>