<!-- <app-nav></app-nav> -->
<app-post-list></app-post-list>
<br/>
<div class="container" id="grid">
        <div class="row">
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <a href="#">
                      <mat-card>
                          <img mat-card-image src="../../assets/joan1.jpeg" alt="Photo of Sports">
                        </mat-card>
              </a>
         </div>
              
             <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <a href="#">
                    <mat-card>
                        <img mat-card-image src="../../assets/joan2.jpg" alt="Photo by Joan">
                      </mat-card>
            </a>
       </div>
            
             <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                      <a href="#"> 
                          <mat-card>
                              <img mat-card-image src="../../assets/joan3.jpeg" alt="Photo by Leo">
                            </mat-card>
                  </a>
             </div>
           
             <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <a href="#">
                    <mat-card>
                        <img mat-card-image src="../../assets/joan4.jpeg" alt="Photo by Tommy">
                      </mat-card>
            </a>
       </div>
         
      
         
             <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <a href="#">
                    <mat-card>
                        <img mat-card-image src="../../assets/joan5.jpeg" alt="Photo by Joan">
                      </mat-card>
            </a>
       </div>
          
       <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
          <a href="#">
              <mat-card>
                  <img mat-card-image src="../../assets/joan6.jpeg" alt="Photo by Joan">
                </mat-card>
      </a>
      </div>
              
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
          <a href="#">
              <mat-card>
                  <img mat-card-image src="../../assets/sports1.jpeg" alt="Photo by Leo">
                </mat-card>
      </a>
      </div>
             
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
          <a href="#">
              <mat-card>
                  <img mat-card-image src="../../assets/sports2.jpeg" alt="Photo by Tommy">
                </mat-card>
      </a>
      </div>
      
      
          <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
              <a href="#">
                  <mat-card>
                      <img mat-card-image src="../../assets/sports3.jpeg" alt="Photo of Sports">
                    </mat-card>
          </a>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
          <a href="#">
              <mat-card>
                  <img mat-card-image src="../../assets/sports4.jpeg" alt="Photo by Tommy">
             </mat-card>
      </a>
      </div>
      
      
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
          <a href="#">
            <mat-card>
          <img mat-card-image src="../../assets/sports5.jpeg" alt="Photo of Joan">
        </mat-card>
      </a>
      </div>
      
      
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
          <a href="#">    
            <mat-card>
              <img mat-card-image src="../../assets/sports6.jpeg" alt="Photo of Joan">
            </mat-card>
      </a>
              </div> 
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <a href="#">
                        <mat-card>
                            <img mat-card-image src="../../assets/sports7.jpeg" alt="Photo of Sports">
                          </mat-card>
                </a>
           </div>
                
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <a href="#">
                      <mat-card>
                          <img mat-card-image src="../../assets/sports8.jpeg" alt="Photo by Joan">
                        </mat-card>
              </a>
         </div>
              
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                        <a href="#"> 
                            <mat-card>
                                <img mat-card-image src="../../assets/leo1.jpeg" alt="Photo by Leo">
                              </mat-card>
                    </a>
               </div>
             
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <a href="#">
                      <mat-card>
                          <img mat-card-image src="../../assets/leo2.jpeg" alt="Photo by Tommy">
                        </mat-card>
              </a>
         </div>
           
        
           
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <a href="#">
                      <mat-card>
                          <img mat-card-image src="../../assets/leo3.jpeg" alt="Photo by Joan">
                        </mat-card>
              </a>
         </div>
            
         <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
            <a href="#">
                <mat-card>
                    <img mat-card-image src="../../assets/leo4.jpeg" alt="Photo by Joan">
                  </mat-card>
        </a>
        </div>
                
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
            <a href="#">
                <mat-card>
                    <img mat-card-image src="../../assets/leo5.jpeg" alt="Photo by Leo">
                  </mat-card>
        </a>
        </div>
               
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
            <a href="#">
                <mat-card>
                    <img mat-card-image src="../../assets/leo6.jpeg" alt="Photo by Tommy">
                  </mat-card>
        </a>
        </div>
        
        
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                <a href="#">
                    <mat-card>
                        <img mat-card-image src="../../assets/tommy1.jpeg" alt="Photo of Sports">
                      </mat-card>
            </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
            <a href="#">
                <mat-card>
                    <img mat-card-image src="../../assets/tommy2.jpeg" alt="Photo by Tommy">
               </mat-card>
        </a>
        </div>
        
        
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
            <a href="#">
              <mat-card>
            <img mat-card-image src="../../assets/tommy3.jpeg" alt="Photo of Joan">
          </mat-card>
        </a>
        </div>
        
        
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
            <a href="#">    
              <mat-card>
                <img mat-card-image src="../../assets/tommy4.jpeg" alt="Photo of Joan">
              </mat-card>
        </a>
                </div> 
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                        <a href="#">
                          <mat-card>
                        <img mat-card-image src="../../assets/tommy5.jpeg" alt="Photo of Joan">
                      </mat-card>
                    </a>
                    </div>
                    
                    
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                        <a href="#">    
                          <mat-card>
                            <img mat-card-image src="../../assets/tommy6.jpeg" alt="Photo of Joan">
                          </mat-card>
                    </a>
                            </div> 
</div>
</div>
