
<app-nav></app-nav>
<app-post-list></app-post-list>
<mat-grid-list cols="4" rowHeight="1:1">
    <mat-grid-tile class="example"></mat-grid-tile>
    <mat-grid-tile class="example2"></mat-grid-tile>
    <mat-grid-tile class="example3"></mat-grid-tile>
    <mat-grid-tile class="example4"></mat-grid-tile>
    <mat-grid-tile class="example5"></mat-grid-tile>
    <mat-grid-tile class="example6"></mat-grid-tile>
    <mat-grid-tile class="example7"></mat-grid-tile>
    <mat-grid-tile class="example8"></mat-grid-tile>
    <mat-grid-tile class="example9"></mat-grid-tile>
    <mat-grid-tile class="example10"></mat-grid-tile>
    <mat-grid-tile class="example11"></mat-grid-tile>
    <mat-grid-tile class="example12"></mat-grid-tile>

