<div class="container-fluid">
  <mat-card>
  <mat-toolbar   class="fixed-header">
      <mat-toolbar-row>
      <span><img  src="./assets/Bturtle.png"  style="width:35px; height:20;"></span>
      <h1><p>Ohana art</p></h1>
      <a  mat-button  href="home">home</a>
      <a  mat-button  href="gallery">gallery</a>
      <a  mat-button  href="photographers">artists</a>
      <a  mat-button  href="post-create">upload</a>
      </mat-toolbar-row>
      </mat-toolbar>
    </mat-card>
  </div>
  <br/>