<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
  <a class="navbar-brand" href="home">
      <img src="../../assets/Bturtle.png" width="45" height="35" class="d-inline-block align-top" alt="logo">
      Ohana Art
  </a>
    
   
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="photographers">Artists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="gallery">Gallery</a>
      </li>
       <li class="nav-item">
          <a class="nav-link" href="post-create">Upload</a>
       </li>
       <li class="nav-item">
           <a class="nav-link" href="sign-in">Login</a>
        </li>
      </ul>
    </div>
  </nav>
  

  <div class="container-fluid">
      <mat-card>
  <h1><p>Aloha, Welcome to Ohana Art!</p></h1>
</mat-card>
</div>
  
  <div class="container-fluid">
     <mat-card class="header-img">
        <img mat-card-image src="../../assets/beach-clouds-dawn.jpg" class="joan-pic" alt="Photo of Joan">
      </mat-card>
      </div>
      <br/>
    






      <div class="container-fluid" id="grid">
          <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <a href="#">
                        <mat-card>
                            <img mat-card-image src="../../assets/sports2.jpeg" alt="Photo of Joan">
                          </mat-card>
                </a>
           </div>
                
               <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                  <a href="#">
                      <mat-card>
                          <img mat-card-image src="../../assets/sports6.jpeg" alt="Photo of Joan">
                        </mat-card>
              </a>
         </div>
              
               <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <a href="#"> 
                            <mat-card>
                                <img mat-card-image src="../../assets/sports8.jpeg" alt="Photo of Joan">
                              </mat-card>
                    </a>
               </div>
             
               <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                  <a href="#">
                      <mat-card>
                          <img mat-card-image src="../../assets/sports7.jpeg" alt="Photo of Joan">
                        </mat-card>
              </a>
         </div>
           
        
           
               <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                  <a href="#">
                      <mat-card>
                          <img mat-card-image src="../../assets/sports5.jpeg" alt="Photo of Joan">
                        </mat-card>
              </a>
         </div>
            
         <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
            <a href="#">
                <mat-card>
                    <img mat-card-image src="../../assets/sports2.jpeg" alt="Photo of Joan">
                  </mat-card>
        </a>
        </div>
                
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
            <a href="#">
                <mat-card>
                    <img mat-card-image src="../../assets/sports6.jpeg" alt="Photo of Joan">
                  </mat-card>
        </a>
        </div>
               
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
            <a href="#">
                <mat-card>
                    <img mat-card-image src="../../assets/sports3.jpeg" alt="Photo of Joan">
                  </mat-card>
        </a>
        </div>
        
        
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <a href="#">
                    <mat-card>
                        <img mat-card-image src="../../assets/sports8.jpeg" alt="Photo of Joan">
                      </mat-card>
            </a>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
            <a href="#">
                <mat-card>
                    <img mat-card-image src="../../assets/sports1.jpeg" alt="Photo of Joan">
               </mat-card>
        </a>
        </div>
        
        
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
            <a href="#">
              <mat-card>
            <img mat-card-image src="../../assets/sports3.jpeg" alt="Photo of Joan">
          </mat-card>
        </a>
        </div>
        
        
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
            <a href="#">    
              <mat-card>
                <img mat-card-image src="../../assets/sports6.jpeg" alt="Photo of Joan">
              </mat-card>
        </a>
                </div> 
</div>
</div>


        


