<app-nav2></app-nav2>
    <div class="container- fluid">
        <img src="mcd.jpg" width="100%" height="100%">
        <div class="container">
            <br/>
          <input [(ngModel)]="search" id="searchBar2" class="form-control form-secondary"> 
          <br />
          <button (click)="addSearch"  class="btn btn-info btn-sm">Search</button>
          <ul>
              <li *ngFor="let search of searchBar">{{search}}</li>
          </ul>
          </div>
    </div>
<div class="card">
        <div class="card-body">
    <h1><p>Aloha, Welcome to Ohana Art!</p></h1>
    <p class="lead" cols="30" row="20">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea laudantium, mollitia, atque odio voluptatem incidunt esse ullam labore enim ab, quod omnis animi. Asperiores animi atque corporis, fugiat quisquam maiores ipsum cumque mollitia non aliquam sequi sapiente. Quam, laborum pariatur vero asperiores accusamus dolore voluptas dolorum illo fugit rerum molestias delectus nemo dicta dignissimos voluptate, laboriosam maxime ex aliquam. Cumque et sint quo eos?</p>
</div>
</div>
<div class="container-fluid" id="grid">
  
    <h1 class="my-4 text-center text-lg-left"> Gallery</h1>
    <div class="row text-center text-lg-left">
      <div class="col-lg-3 col-md-4 col-xs-8">
        <a href="#" class="rounded mx-auto d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="sports4.jpeg" alt="">
        </a>
      </div>
       <div class="col-lg-3 col-md-4 col-xs-8">
            <a href="#" class="rounded mx-auto d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="sports2.jpeg" alt="">
            </a>
       </div>
       <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                 <img class="img-fluid img-thumbnail" src="sports3.jpeg" alt="">
                </a>
       </div>
       <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
               <img class="img-fluid img-thumbnail" src="sports4.jpeg" alt="">
                </a>
       </div>
       <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                 <img class="img-fluid img-thumbnail" src="sports5.jpeg" alt="">
               </a>
       </div>
       <div class="col-lg-3 col-md-4 col-xs-6">
               <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="sports6.jpeg" alt="">
                </a>
       </div>
      <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="sports7.jpeg" alt="">
                </a>
      </div>
     <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="sports8.jpeg" alt="">
                </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
              <a href="#" class="d-block mb-4 h-100">
               <img class="img-fluid img-thumbnail" src="sports5.jpeg" alt="">
             </a>
          </div>
          <div class="col-lg-3 col-md-4 col-xs-6">
              <a href="#" class="d-block mb-4 h-100">
               <img class="img-fluid img-thumbnail" src="sports6.jpeg" alt="">
               </a>
      </div>
     <div class="col-lg-3 col-md-4 col-xs-6">
               <a href="#" class="d-block mb-4 h-100">
               <img class="img-fluid img-thumbnail" src="sports7.jpeg" alt="">
               </a>
     </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
               <a href="#" class="d-block mb-4 h-100">
               <img class="img-fluid img-thumbnail" src="sports8.jpeg" alt="">
               </a>
         </div>
         <div class="col-lg-3 col-md-4 col-xs-6">
             <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="sports5.jpeg" alt="">
            </a>
         </div>
         <div class="col-lg-3 col-md-4 col-xs-6">
            <a href="#" class="d-block mb-4 h-100">
             <img class="img-fluid img-thumbnail" src="sports6.jpeg" alt="">
             </a>
    </div>
   <div class="col-lg-3 col-md-4 col-xs-6">
             <a href="#" class="d-block mb-4 h-100">
             <img class="img-fluid img-thumbnail" src="sports7.jpeg" alt="">
             </a>
   </div>
  <div class="col-lg-3 col-md-4 col-xs-6">
             <a href="#" class="d-block mb-4 h-100">
             <img class="img-fluid img-thumbnail" src="sports8.jpeg" alt="">
             </a>
       </div>
       <div class="col-lg-3 col-md-4 col-xs-6">
           <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="sports5.jpeg" alt="">
          </a>
       </div>
       <div class="col-lg-3 col-md-4 col-xs-6">
          <a href="#" class="d-block mb-4 h-100">
           <img class="img-fluid img-thumbnail" src="sports6.jpeg" alt="">
           </a>
  </div>
 <div class="col-lg-3 col-md-4 col-xs-6">
           <a href="#" class="d-block mb-4 h-100">
           <img class="img-fluid img-thumbnail" src="sports7.jpeg" alt="">
           </a>
 </div>
<div class="col-lg-3 col-md-4 col-xs-6">
           <a href="#" class="d-block mb-4 h-100">
           <img class="img-fluid img-thumbnail" src="sports8.jpeg" alt="">
           </a>
     </div>
     <div class="col-lg-3 col-md-4 col-xs-6">
         <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="sports5.jpeg" alt="">
        </a>
     </div> <div class="col-lg-3 col-md-4 col-xs-6">
        <a href="#" class="d-block mb-4 h-100">
         <img class="img-fluid img-thumbnail" src="sports6.jpeg" alt="">
         </a>
</div>
<div class="col-lg-3 col-md-4 col-xs-6">
         <a href="#" class="d-block mb-4 h-100">
         <img class="img-fluid img-thumbnail" src="sports7.jpeg" alt="">
         </a>
</div>
<div class="col-lg-3 col-md-4 col-xs-6">
         <a href="#" class="d-block mb-4 h-100">
         <img class="img-fluid img-thumbnail" src="sports8.jpeg" alt="">
         </a>
   </div>
   
     </div>
       </div>




