

mat-grid-tile {
    background: rgb(118, 161, 185);
background-size: cover;
}
/* 
.example-card {
    max-width: 100%;
  }
  
.example {
    background-image: url(../../assets/sports1.jpeg);
    background-size: cover;
    max-width: 100%;
    max-height: auto;
}
.example2{
  background-image: url(../../assets/sports2.jpeg);
  background-size: cover;
  max-width: 100%;
} */


.navbar-brand {
  justify-content: left;
}

.container-fluid {
  height: 20%;
}